<h1>New division</h1>

<form action="/wizard_divide">
  <label for="form_dividend">
    Divide this:
  </label>
  <input id="form_dividend" name="dividend" text="text">

  <label for="form_divisor">
    by this:
  </label>
  <input id="form_divisor" name="divisor" text="text">

  <button>
    Divide!
  </button>
</form>
